*{
  font-family: Nunito;
 
}
.hero-navbar{
position: fixed;
z-index: 10;
display: flex;
width: 1270px;
padding: 12px 48px;
justify-content: space-between;
align-items: center;
background: #FFF;
/* Drop Down */
box-shadow: 0px 8px 32px 0px rgba(17, 17, 26, 0.05), 0px 4px 16px 0px rgba(17, 17, 26, 0.05);
}
.frame1{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 36px;
  flex: 1 0 0;
}
.logo{
  width: 40.005px;
height: 40px;
flex-shrink: 0;
}
.div-test{
  width: 1rem;
  height: 1rem;
  background-color: red;
}

button{
  width: fit-content;
  border-radius: 0.75rem;
  color: #FFF;
  border: none;
  /* Big Text */
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4rem; /* 135% */
}

/* Normal state */
a {
  text-decoration: none;
  padding: 0.75rem 1.5rem;

  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6875rem; /* 135% */
}

/* Hover state */
a:hover {
  text-decoration: none;
  cursor: pointer;
}

/* Clicked state (active) */
a:active {
  text-decoration: none;
  cursor: pointer;
}


input{
  display: flex;
  padding: 0.8125rem 1rem;
  align-items: center;
  align-self: stretch;
  border-radius: 0.5rem;
  border: 1px solid var(--contentColor-20, rgba(0, 0, 0, 0.20));
  background: var(--whiteColor, #FFF);
  color: var(--contentColor-60, rgba(0, 0, 0, 0.60));
  font-variant-numeric: lining-nums tabular-nums;
  outline: none;
  /* Input Body */
  
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.4rem */
}

input:hover{
  border-radius: 0.5rem;
  border: 1px solid var(--blue1, #2454FF);
  background: var(--whiteColor, #FFF);
}

input:focus{
  border: 1px solid #2454FF;
  background: var(--whiteColor, #FFF);
  /* Focus Effect */
  box-shadow: 0px 2px 16px 0px rgba(70, 102, 255, 0.50);
}

input:valid{
  color: var(--contentColor, #000);
  font-variant-numeric: lining-nums tabular-nums;
  
  /* Input Body */
  
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.4rem */
}






.CTA-button{
         
  padding: 0.75rem 1.5rem;
  background: #00BFFF;
  
}

.big-CTA-button{
  width: 100%;
  padding: 0.75rem 1.5rem;
  background-color: #00BFFF;
}

.big-CTA-button:hover , .CTA-button:hover{
  background: rgba(0, 191, 255, 1);
}


.big-CTA-button:active , .CTA-button:active{
  border-radius: 12px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.24) 100%), #00BFFF;
  /* Focus Effect */
  box-shadow: 0px 2px 16px 0px rgba(70, 102, 255, 0.50);
}


.secondary-button{
  color: rgba(0, 191, 255, 1);
  background-color: transparent;
  border-radius: 0.75rem;
  border: 1px solid #00BFFF;
  padding: 12px 24px;

}

.secondary-button:hover{
  border-radius: 12px;
  border: 1px solid #00BFFF;
  background: var(--action-hover, rgba(0, 0, 0, 0.04)); 
}

.secondary-button:active{
  border-radius: 12px;
border: 1px solid #00BFFF;
background: rgba(0, 191, 255, 0.12);

/* Focus Effect */
box-shadow: 0px 2px 16px 0px rgba(70, 102, 255, 0.50);
}

.secondary-button-icon{
  width: 100%;
  display: flex;
  padding: 11px 22px;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
  align-self: stretch;  
  color: rgba(0, 191, 255, 1);
  background-color: transparent;
  border-radius: 0.75rem;
  border: 1px solid #00BFFF;  

}

.secondary-button-icon:hover{
  border-radius: 12px;
  border: 1px solid #00BFFF;
  background: var(--action-hover, rgba(0, 0, 0, 0.04));
}
.secondary-button-icon:active{
  border-radius: 12px;
  border: 1px solid #00BFFF;
  background: rgba(0, 191, 255, 0.12);
  
  /* Focus Effect */
  box-shadow: 0px 2px 16px 0px rgba(70, 102, 255, 0.50);
}


.teritiary-button{
  color: #2454FF;
}
.teritiary-button:hover{
  color: rgba(36, 84, 255, 0.60)
}

.teritiary-button:active{
  /* Focus Effect */
  text-shadow: 0px 2px 16px rgba(70, 102, 255, 0.50);
}




