.panel {
height: 613px;
padding: 24px;
border-radius: 12px;
background: #FFF;
position: fixed;
top: 105px;
right: 10px;
width: 35%;
}

.panel .d1 h1 {
color: #374151;
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 48px;
}

.panel .d1 h2 {
  color: #000;
font-size: 12.8px;
font-weight: 500;
}

.panel .d1 span {
  color: #6B7280;
font-size: 12.8px;
font-weight: 500;
}

.panel .d1 .example .rexample {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.panel .d1 .example {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 24px;
}

.panel .d1 {
  padding: 24px;
  background: rgba(128, 223, 255, 0.50);
  border-radius: 10px;
  margin-bottom: 15px;
}

.panel .d2 {
  background: none;
}