body {
    margin: 0;
    padding: 0;
    overflow: hidden;    
}

.split-container-singInPage {
    display: flex;
    height: 610px;
}

.color-side-singInPage {
    background: var(--gray-100, #F3F4F6);
    flex: 1;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-side-singInPage {
    width: 50%;
    height: 604px;
    background-image: url('../assets/Rectangle 9.png');
    background-size:   640px ; /* You can adjust this based on your needs */
    background-position: center center; /* You can adjust this based on your needs */
    background-repeat: no-repeat;
}
