*{
    margin: 0;
    padding: 0;
}
.horizontal-line1-singInPage{
    display: inline-block;
    width: 94.667px;
    height: 0.2px;
    align-items: center;
    background: #808080;
    margin-right: 10px; /* Adjust the spacing between the line and text as needed */
}
.Hero-logIn-singInPage{
    display: flex;
    width: 390px;   
    padding: 48px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    border-radius: 36px;
    background: #FFF;
    
    /* ShadowX */
    box-shadow: 0px 8px 32px 0px rgba(17, 17, 26, 0.05), 0px 4px 16px 0px rgba(17, 17, 26, 0.05);
}
.Hero-title-singInPage{
    color: #00BFFF;

    /* Sub Heading */
    font-family: Nunito;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 292px;
}

.userName-singInPage{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 12px;
}
.usernameParagraph-singInPage{
    display: flex;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    color: var(--contentColor, #000);

/* Text */
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.PasswordParagraph-singInPage {
    display: flex;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    color: var(--contentColor, #000);
/* Text */
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.Password-singInPage{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 12px;

}
.logInButton-singInPage{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 12px;
background: #00BFFF;  
}
.forgotPas-singInPage{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: #00BFFF;
    text-align: center;
    /* Text */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 0px;
}
.forgotPasSection-singInPage{    
    display: flex;
width: 292px;
flex-direction: column;
justify-content: center;
align-items: flex-end;
gap: 10px;
}
.container-singInPage{
    display: flex;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    
}
.or-singInPage{
    padding: 0;
    color: #808080;
    text-align: center;
    flex: 1 0 0;
    /* Text */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.noAccount-singInPage{
    display: flex;
width: 292px;
justify-content: center;
align-items: center;
gap: 6px;
}
.noAccountParagraph-singInPage{
    color: #808080;
    text-align: center;
    
    /* Text */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.noAccountParagraph2-singInPage{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: #00BFFF;

text-align: center;
/* Text */
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 0px 0px ;  
}

.big-CTA-button-singInPage{
    height: 45px;
    width :100%;
    background-color: #00BFFF;
  }
  
  .big-CTA-button-singInPage:hover {
    background: rgba(0, 191, 255, 1);
  }
  
  
  .big-CTA-button-singInPage:active {
    border-radius: 12px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.24) 100%), #00BFFF;
    /* Focus Effect */
    box-shadow: 0px 2px 16px 0px rgba(70, 102, 255, 0.50);
  }