.split-container-chooseIdantity{
    display: flex;
    height: 560px;
}
.image-side-chooseIdantity{
    width: 50%;
    height: auto;
    background: #FFF;
}
.color-side-chooseIdantity{
    background: var(--gray-100, #F3F4F6);
    flex: 1;
    width: 50%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-page-chooseIdantity{
    display: flex;
    padding: 60px 40px;
    width: 400px;
    height: 500px;
  
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
background: #FFF;

/* Drop Down */
box-shadow: 0px 8px 32px 0px rgba(17, 17, 26, 0.05), 0px 4px 16px 0px rgba(17, 17, 26, 0.05);
}
.main-title-chooseIdantity{
    color: #374151;  /* h4 */
    font-family: Nunito;
    font-size: 31.25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
}
.paragraph-chooseIdantity{
    color: #6B7280;

/* medium text */
font-family: Nunito;
font-size: 12.8px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.main-div-chooseIdantity{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 12px;
}
.divTwo-chooseIdantity{
    display: flex;
width: 315px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}