*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;    
}

.split-container-SingUp {
    display: flex;
    height: 560px;
}

.color-side-SingUp {
    background: var(--gray-100, #F3F4F6);
    flex: 1;
    width: 50%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-side-SingUp{
    width: 50%;
    height: auto;
    background: #FFF;
}

.horizontal-line1-SingUp{
    display: inline-block;
    width: 94.667px;
    height: 0.2px;
    align-items: center;
    background: #808080;
    margin-right: 10px; /* Adjust the spacing between the line and text as needed */
}
.Hero-logIn-SingUp{
    display: flex;
    width: 400px;
    height: 570px;
    padding: 48px 48px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 36px;
background: #FFF;

/* Drop Down */
box-shadow: 0px 8px 32px 0px rgba(17, 17, 26, 0.05), 0px 4px 16px 0px rgba(17, 17, 26, 0.05);
    
    /* ShadowX */
    box-shadow: 0px 8px 32px 0px rgba(17, 17, 26, 0.05), 0px 4px 16px 0px rgba(17, 17, 26, 0.05);
}
.Hero-title-SingUp{
    color: #00BFFF;

    /* Sub Heading */
    font-family: Nunito;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 292px;
}

.userName-SingUp{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    align-self: stretch;
    border-radius: 12px;
}
.usernameParagraph-SingUp{
    display: flex;
    align-items: center;
    gap: 2px;
    align-self: stretch;
    color: var(--contentColor, #000);

/* Text */
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.PasswordParagraph-SingUp {
    display: flex;
    align-items: center;
    gap: 2px;
    align-self: stretch;
    color: var(--contentColor, #000);
/* Text */
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.Password-SingUp{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    border-radius: 12px;

}
.logInButton-SingUp{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 12px;
background: #00BFFF;  
}
.forgotPas-SingUp{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: #00BFFF;
    text-align: center;
    /* Text */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 0px;
}
.forgotPasSection-SingUp{    
    display: flex;
width: 292px;
flex-direction: column;
justify-content: center;
align-items: flex-end;
gap: 10px;
}
.container-SingUp{
    display: flex;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    
}
.or-SingUp{
    padding: 0;
    color: #808080;
    text-align: center;
    flex: 1 0 0;
    /* Text */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.noAccount-SingUp{
    display: flex;
width: 292px;
justify-content: center;
align-items: center;
gap: 6px;
}
.noAccountParagraph-SingUp{
    color: #808080;
    text-align: center;
    
    /* Text */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.noAccountParagraph2-SingUp{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: #00BFFF;

text-align: center;
/* Text */
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 0px 0px ;  
}

.big-CTA-button-SingUp{
    height: 40px;
    width :100%;
    background-color: #00BFFF;
  }
  
  .big-CTA-button-SingUp:hover {
    background: rgba(0, 191, 255, 1);
  }
  
  
  .big-CTA-button-SingUp:active {
    border-radius: 12px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.24) 100%), #00BFFF;
    /* Focus Effect */
    box-shadow: 0px 2px 16px 0px rgba(70, 102, 255, 0.50);
  }